@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('https://raw.githubusercontent.com/LucasB0mfim/MONKS_IMAGES/main/fonts/HelveticaNeueLight.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('https://raw.githubusercontent.com/LucasB0mfim/MONKS_IMAGES/main/fonts/HelveticaNeueBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HelveticaNeueLight', sans-serif;
}

html {
    scroll-behavior: smooth;

    @media(max-width: 1024px) {
        overflow-x: hidden;
    }
}

body {
    overflow-x: hidden;
    background-color: #eae8e4;

    @media(min-width: 1024px) {
        &::-webkit-scrollbar {
            width: 10px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #7D26C9;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}

.header {
    width: 100%;
    display: flex;
    background-color: #2d2d2d;
    border-bottom-left-radius: 1.563vw;
    border-bottom-right-radius: 1.563vw;
    overflow-y: hidden;

    @media (max-width: 768px) {
        overflow-x: hidden;
        border-bottom-left-radius: 1.563vh;
        border-bottom-right-radius: 1.563vh;
    }
}

.header__start {
    width: 50%;
    padding: 1vw 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @media(max-width: 768px) {
        padding: 2vh 4vh;
    }
}

.header__start-top {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header__start-top img {
    width: 7.292vw;
    margin-right: 2vw;
    cursor: pointer;

    @media (max-width: 768px) {
        width: 25vw;
        margin-right: 0;
    }
}

.header__nav {
    width: 80%;

    @media(max-width: 768px) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #DFBBFE;
        z-index: 10;
        height: 50vh;
    }
}

.header__nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;

    @media(max-width: 768px) {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 2vh 4vh;
    }
}

.header__nav-item {
    width: 8vw;
    text-align: center;

    @media(max-width: 768px) {
        width: auto;
        margin: 10px 0;
    }
}

.header__nav-bol {
    color: #EAE8E4;
    font-size: 1.7vw;
    font-weight: normal;
    visibility: hidden;
    margin-right: 0.3vw;

    @media(max-width: 768px) {
        font-size: 2vh;
        margin-right: 0.3vh;
        visibility: visible;
        color: #2D2D2D;
    }
}

.header__nav-link:hover .header__nav-bol {
    visibility: visible;
}

.header__nav-link {
    display: flex;
    align-items: center;
    color: #EAE8E4;
    font-size: 1.042vw;
    text-decoration: none;

    @media (max-width: 768px) {
        color: #2D2D2D;
        font-size: 2.5vh;
        font-weight: 600;
    }
}

.header__nav-link:hover {
    font-family: 'HelveticaNeueBold', sans-serif;
}

.hamburger,
.hamburger-inside {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 6vw;
    height: 3.5vw;
    margin-left: 2.1vh;

    @media(max-width: 768px) {
        display: flex;
    }
}

.hamburger-line {
    width: 6vw;
    height: 0.5vw;
    background-color: #EAE8E4;
}

@media (max-width: 768px) {
    .header__nav.active {
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        display: block;
        height: auto;
    }
}

.header__nav-mobile {
    display: none;

    @media(max-width: 768px) {
        width: 100%;
        display: flex;
        padding: 2.2vh 4vh;
        justify-content: start;
        align-items: end;
        background-color: #2D2D2D;
        border-bottom-right-radius: 2vh;
        border-bottom-left-radius: 2vh;
    }
}

.header__nav-mobile img{
    @media(max-width: 768px) {
        width: 25vw;
    }
}

.header__nav-image {
    display: none;

    @media(max-width: 768px) {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

.header__nav-image img {
    @media(max-width: 768px) {
        width: 22vh;
    }
}

.header__nav-background {
    display: none;

    @media(max-width: 768px) {
        display: flex;
        width: 100%;
        height: 50vh;
        justify-content: center;
        align-items: center;
        background-color: #2D2D2D;
    }
}

.header__start-mid {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media (max-width: 768px) {
        height: auto;
        margin-top: 2vh;
    }
}

.header__start-title {
    font-size: 2.5vw;
    color: #EAE8E4;

    @media (max-width: 768px) {
        font-size: 2.5vh;
        margin-bottom: 1vh;
    }
}

.header__start-description {
    color: #EAE8E4;
    font-size: 1.5vw;
    font-weight: lighter;

    @media (max-width: 768px) {
        font-size: 1.8vh;
        margin-bottom: 1.8vh;
    }
}

.header__start-bot {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        height: auto;
        margin-top: 2vh;
    }
}

.header__start-bot img {
    width: 5vw;

    @media (max-width: 768px) {
        width: 5vh;
    }
}

.header__end {
    width: 50%;
    padding-right: 2.4vw;
    display: flex;
    justify-content: end;

    @media (max-width: 768px) {
        position: relative;
        padding-right: 0;
    }
}

.header__end img {
    width: 75%;

    @media(max-width: 768px) {
        object-fit: cover;
        position: absolute;
        left: 0%;
        height: 100%;
        width: 170%;
    }
}

section, footer {
    padding: 0vw 4vw;

    @media (max-width: 768px) {
        padding: 0vh 4vh;
    }
}

.projects {
    padding-top: 5vw;

    @media(max-width: 768px) {
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
}

.projects__title {
    color: #2D2D2D;
    font-size: 2.083vw;

    @media (max-width: 768px) {
        font-size: 2.5vh;
    }
}

.projects__description {
    color: #2D2D2D;
    font-size: 1.4vw;
    margin-top: 0.417vw;
    margin-bottom: 1.771vw;

    @media (max-width: 768px) {
        font-size: 2vh;
        margin-top: 0.5vh;
        margin-bottom: 1.8vh;
    }
}

.projects__container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        align-items: center;
        flex-direction: column;
    }
}

.projects__container .project__list {
    width: 17vw;
    height: auto;
    padding: 0.3vw;
    cursor: pointer;
    border-radius: 0.417vw;
    background-color: #FCFCFD;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

    @media (max-width: 768px) {
        width: 100%;
        padding: 1vh;
        border-radius: 1vh;
        margin-bottom: 2vh;
        padding: 1vh;
    }
}

.projects__container .project__list:last-child {
    margin: 0;
}

.projects__container .project__list:hover {
    transform: scale(1.05);
}

.projects__container .project__list .project__title {
    margin: 1vw 2vw 1vw 0.5vw;
    font-size: 1.25vw;
    word-wrap: break-word;

    @media (max-width: 768px) {
        margin: 1vh 2vh 1vh 0.5vh;
        font-size: 2.5vh;
    }
}

.projects__container .project__list .project__description {
    margin: 0.5vw 2vw 1vw 0.5vw;
    font-size: 1.13vw;
    word-wrap: break-word;
    line-height: 1.3;

    @media (max-width: 768px) {
        margin: 0.5vh 2vh 1vh 0.5vh;
        font-size: 2vh;
    }
}

.projects__container .project__image {
    width: 100%;
    height: 10vw;
    border-radius: 0.417vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    @media (max-width: 768px) {
        height: 30vh;
        padding: 1vh;
        border-radius: 1vh;
    }
}

.projects__container .project__image img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.projects__container .project__list:hover .project__image img {
    transform: scale(1.05);
}

.essence {
    width: 100%;
    height: 50vw;
    padding-top: 5vw;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        height: auto;
        padding-top: 4vh;
        padding-bottom: 4vh;
        flex-direction: column;
    }
}

.essence__main {
    width: 46.5%;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.essence__title {
    color: #2D2D2D;
    font-size: 2.083vw;

    @media (max-width: 768px) {
        margin-top: 1vh;
        margin-bottom: 1vh;
        font-size: 2.5vh;
    }
}

.essence__description {
    color: #2D2D2D;
    font-size: 1.4vw;
    margin-top: 0.417vw;
    margin-bottom: 1.771vw;

    @media (max-width: 768px) {
        font-size: 2vh;
        margin-top: 0.417vh;
        margin-bottom: 1.8vh;
    }
}

.essence__photo {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.essence__photo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.essence__photo img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.essence__photo-main {
    height: 83.6%;

    @media(max-width: 768px) {
        margin-bottom: 2vh;
        height: 85%;
    }
}

.essence__aside {
    width: 46.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.essence__aside .essence__photo {
    height: 43.8%;
}

.essence__aside .essence__photo:first-child {
    @media(max-width: 768px) {
        margin-bottom: 2vh;
    }
}

.download {
    padding-top: 5vw;

    @media(max-width: 768px) {
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
}

.download__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2.734vw 2.083vw;
    border-radius: 1.25vw;
    background-color: #3C0C60;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
        padding: 2.734vh 2.083vh;
        border-radius: 1.25vh;
        flex-direction: column;
    }
}

.download__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download__title {
    color: #EAE8E4;
    font-size: 2.083vw;
    margin-bottom: 0.417vw;

    @media (max-width: 768px) {
        font-size: 2.5vh;
        margin-bottom: 1vh;
    }
}

.download__description {
    color: #EAE8E4;
    font-size: 1.25vw;

    @media (max-width: 768px) {
        font-size: 2vh;
        margin-bottom: 1.8vh;
    }
}

.download__apps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 768px) {
        flex-direction: row;
    }
}

.download__app {
    cursor: pointer;
    height: 3vw;
    transition: transform 0.3s ease;

    @media (max-width: 768px) {
        width: 47%;
        height: auto;
    }
}

.download__app:hover {
    transform: scale(1.08);
    transition: transform 0.3s ease;
}

.download__app:first-child {
    margin-bottom: 0.3vw;
}

.services {
    padding-top: 5vw;

    @media(max-width: 768px) {
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
}

.services__title {
    color: #2D2D2D;
    font-size: 2.083vw;
    margin-bottom: 2.083vw;

    @media (max-width: 768px) {
        font-size: 3vh;
        margin-bottom: 2.083vh;
        text-align: center;
    }
}

.services__container {
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
    flex-wrap: wrap;

    @media (max-width: 768px) {
        gap: 1vh;
    }
}

.service__card {
    color: #7D26C9;
    font-weight: 600;
    font-size: 1.042vw;
    text-align: center;
    padding: 0.833vw 2.604vw;
    cursor: pointer;
    border: 1px solid #7D26C9;
    border-radius: 1.667vw;
    background-color: #DFDCD5;
    transition: transform 0.3s ease;
    cursor: pointer;

    @media (max-width: 768px) {
        font-size: 2vh;
        padding: 0.833vh 1.5vh;
        border-radius: 1.667vh;
    }
}

.service__card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.plans {
    padding-top: 5vw;

    @media(max-width: 768px) {
        padding-top: 4vh;
        padding-bottom: 2vh;
    }
}

.plans__container {
    display: flex;
    justify-content: space-between;

    @media(max-width: 768px) {
        flex-direction: column;
    }
}

.plan__card {
    width: 26vw;
    height: 23vw;
    padding: 1.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1.5px solid #DFBBFE;
    border-radius: 0.833vw;
    background-color: #FFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

    @media (max-width: 768px) {
        width: 100%;
        height: auto;
        padding: 2vh;
        margin-bottom: 2vh;
        border-radius: 2vw;
    }
}

.plan__card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.plan__card-title {
    font-size: 1.25vw;
    align-self: flex-start;

    @media (max-width: 768px) {
        font-size: 2.5vh;
    }
}

.plan__card-description {
    font-size: 1.25vw;
    line-height: 1.3;

    @media (max-width: 768px) {
        font-size: 2vh;
        margin-top: 1vh;
        margin-bottom: 2vh;
    }
}

.plan__card-button {
    cursor: pointer;
    padding: 0.7vw 4vw;
    font-size: 1vw;
    font-weight: 600;
    border: none;
    border-radius: 0.208vw;
    background-color: #DFBBFE;

    @media (max-width: 768px) {
        width: 50%;
        padding: 1.5vh 0vh;
        font-size: 1.5vh;
        border-radius: 1vw;
    }
}

footer {
    margin-top: 5vw;
    padding-top: 5vw;
    background-color: #2D2D2D;
    
    @media(max-width: 768px) {
        margin-top: 4vh;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
}

.validate {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.validate__illustration {
    width: 20vw;
    height: 18vw;

    @media (max-width: 768px) {
        width: 70%;
        height: auto;
        margin-bottom: 2vh;
    }
}

.validate__content {
    width: 60%;
    padding: 1.25vw;
    border-radius: 1.25vw;
    background-color: #EAE8E4;

    @media (max-width: 768px) {
        width: 100%;
        padding: 2vh;
        border-radius: 1.25vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}

.validate__title {
    font-size: 2.083vw;
    color: #2D2D2D;

    @media (max-width: 768px) {
        font-size: 2.5vh;
        margin-bottom: 1vh;
    }
}

.validate__text:first-child {
    margin-top: 0.417vw;

    @media (max-width: 768px) {
        margin-top: 0;
        margin-bottom: 1.8vh;
    }
}

.validate__text:last-child {
    margin-top: 1.25vw;
    margin-bottom: 1.667vw;

    @media (max-width: 768px) {
        margin-top: 0vh;
        margin-bottom: 1.8vh;
    }
}

.validate__text {
    color: #2D2D2D;
    font-size: 1.25vw;

    @media (max-width: 768px) {
        font-size: 2vh;
    }
}

.validate__input-group {
    display: flex;
    justify-content: space-between;
    gap: 0.833vw;
    flex-wrap: wrap;
    margin-bottom: 1.667vw;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 0.833vh;
        margin-bottom: 1.667vh;
    }
}

.validate__input {
    width: 25vw;
    color: #2D2D2D;
    padding: 0.833vw;
    outline: none;
    border: none;
    border-radius: 0.417vw;
    background-color: #FFF;
    font-size: 1vw;

    @media (max-width: 768px) {
        width: 100%;
        padding: 1.8vh;
        border-radius: 0.417vh;
        font-size: 1.8vh;
    }
}

.validate__security-check {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.validate__security-text {
    width: auto;
    color: #2D2D2D;
    font-size: 1.5vw;

    @media (max-width: 768px) {
        width: 100%;
        text-align: center;
        font-size: 2.5vh;
    }
}

.validate__math-container {
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 768px) {
        width: 80%;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}

.validate__math-operation {
    width: 40%;
    padding: 0.5vw 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.417vw;
    background-color: #DFDCD5;

    @media (max-width: 768px) {
        width: 45%;
        font-size: 1.8vh;
        border-radius: 0.417vh;
    }
}

.validate__math-input {
    width: 100%;
    color: #7D26C9;
    font-weight: bold;
    font-size: 1.042vw;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: center;

    @media(max-width: 768px) {
        height: 5vh;
        font-size: 1.8vh;
    }
}

.validate__math-operator,
.validate__math-equals {
    font-weight: 600;
    font-size: 1.5vw;

    @media (max-width: 768px) {
        font-size: 2vh;
        font-family: 'HelveticaNeueBold';
    }
}

.validate__math-result {
    padding: 0.8vw;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 0.417vw;
    background-color: #FFF;

    @media (max-width: 768px) {
        width: 45%;
        height: 5vh;
        border-radius: 0.417vh;
        font-size: 1.8vh;
    }
}

.validate__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.667vw;

    @media (max-width: 768px) {
        margin-top: 0;
    }
}

.validate__button-send {
    position: relative;
    width: 12.8vw;
    cursor: pointer;
    font-weight: 600;
    font-size: 1vw;
    padding: 0.833vw 2.3vw;
    border: none;
    border-radius: 0.208vw;
    background-color: #DFBBFE;
    margin-right: -0.5vw;

    @media (max-width: 768px) {
        width: 50%;
        font-size: 1.8vh;
        padding: 1.8vh 2.3vh;
        border-radius: 0.5vh;
    }
}

.validate__button-send:active {
    bottom: -2px;
}

.row {
    margin-top: 5vw;
    border: 1px solid #DFBBFE;
    
    @media (max-width: 768px) {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}

.social {
    padding: 2.083vw 0;
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
}

.social__image {
    height: 1.8vw;
    margin: 0vw 1vw;
    cursor: pointer;
    transition: transform 0.3s ease;

    @media (max-width: 768px) {
        height: 3vh;
        margin: 0vh 1vh;
    }
}

.social__image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.links {
    padding-bottom: 2.083vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 768px) {
        padding-bottom: 0vh;
    }
}

.links__phase {
    color: #EAE8E4;
    font-size: 1.25vw;
    padding-bottom: 1.5vw;

    @media (max-width: 768px) {
        text-align: center;
        font-size: 2.2vh;
        padding-bottom: 2vh;
    }
}

.links__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;

    @media(max-width: 768px) {
        gap: 2vh;
    }
}

.links__container a {
    text-decoration: none;
}

.links-section {
    color: #EAE8E4;
    width: 10vw;
    gap: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: pointer;
    font-size: 1.042vw;
    font-weight: lighter;

    @media (max-width: 768px) {
        justify-content: space-evenly;
        width: 10vh;
        gap: 1vh;
        flex-wrap: wrap;
        font-size: 1.7vh;
    }
}

.links-section:hover {
    font-family: 'HelveticaNeueBold';
}